<a href="https://colab.research.google.com/github/merlunga/tps-pii-colab/blob/main/Practica_de_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [ ]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [3]:
lista_tuplas = []
estudiantes_unicos = []
for estudiante in estudiantes:
  tupla = tuple(estudiante.items())
  lista_tuplas.append(tupla)
conj_tuplas = set(lista_tuplas)
for tupla in conj_tuplas:
  estudiantes_unicos.append(dict(tupla))
for estudiante in estudiantes_unicos:
  print(estudiante)

{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [10]:
nombres_5c = set()
apellidos_5c = set()
nombres_5d = set()
apellidos_5d = set()
for estudiante in estudiantes:
   nombre_completo = estudiante["name"]
   apellido,nombre = nombre_completo.split(",")
   apellidos = apellido.split(" ")
   nombres = nombre.strip().split(" ")
   if estudiante["section"] == "C":
     for nombre in nombres:
       nombres_5c.add(nombre)
     for apellido in apellidos:
       apellidos_5c.add(apellido)
   else:
     for nombre in nombres:
       nombres_5d.add(nombre)
     for apellido in apellidos:
       apellidos_5d.add(apellido)
print(f"{nombres_5c= }")
print(f"{apellidos_5c= }")
print(f"{nombres_5d= }")
print(f"{apellidos_5d= }")

nombres_5c= {'Ismael', 'Tomasso', 'Nahuel', 'Martina', 'Marcelo', 'Mariel', 'Lourdes', 'Karim', 'Zoe', 'Alondra', 'Victoria', 'Mauricio', 'Matías', 'Vitto', 'Nicolas', 'Milena', 'Ariana', 'Joaquin', 'Sara', 'Valle', 'Maitena', 'Lucia', 'Lucas', 'Mia', 'Antonella', 'Luana', 'Ezequiel', 'Agustín', 'Martin', 'Abril', 'Yamila', 'Renato', 'Valentino', 'Del', 'Luna', 'Agostina', 'Leonardo', 'Elizabeth', 'Rosario', 'Agustina', 'Magali', 'Dulce', 'Tiara', 'Salvador', 'Matias', 'Micaela', 'Josue', 'Constanza', 'Katya', 'Santino', 'Lautaro', 'Gabriel', 'Ignacio', 'Octavio'}
apellidos_5c= {'Sanchez', 'Argañaraz', 'Vilte', 'Guanca', 'Figueroa', 'Sierra', 'Mamani', 'Cardozo', 'Bracamonte', 'Anaquin', 'Tapia', 'Araoz', 'Virgillito', 'Rios', 'Colque', 'Galvan', 'Martinez', 'Barrera', 'Abud', 'Dagum', 'Laspiur', 'Amador', 'Barrozo', 'Merluzzi', 'Vedia', 'Giangreco', 'Rivero', 'Bettinelli', 'Flores', 'Lopez', 'Messina', 'Grancara', 'Rasuk', 'Diaz', 'Garrido', 'Scarano', 'Gallo', 'Marinaro'}
nombres_5d= {'Antonia', 'Marcelo', 'Tomas', 'Juliana', 'Ludmila', 'Alvaro', 'Amaya', 'Nazarena', 'Victoria', 'Camila', 'Jazmin', 'Tadeo', 'Mahia', 'Lucas', 'Mariano', 'Francisco', 'Celia', 'Tobias', 'Morena', 'Emanuel', 'Maria', 'Angélica', 'Solange', 'Anita', 'Agustin', 'Lizzie', 'Del', 'Esmeralda', 'Stefania', 'Andres', 'Agustina', 'Fabricio', 'Stefano', 'Pedro', 'Irina', 'Belen', 'Milagro', 'Hugo', 'Paulina', 'Josue', 'Santino', 'Gabriel', 'Ignacio', 'Zacarias', 'Milagros'}
apellidos_5d= {'Retamal', 'Lezcano', 'Elia', 'Zalazar', 'Guanca', 'Lascano', 'Salem', 'Camara', 'Villalba', 'Polo', 'Valdivia', 'Angel', 'Segovia', 'Martinez', 'Arenas', 'Barba', 'Jaime', 'Soto', 'Soriano', 'Castillo', 'Lacour', 'Flores', 'Caseres', 'Alurralde', 'Cisneros', 'Portella', 'Rosales', 'Guzman', 'Voltolini', 'Correa', 'Geronimo', 'Alvarado', 'D'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [11]:
counter=0
for i in range(len(nombres_5c)):
  counter+=1
print(f"Hay {counter} nombres únicos en 5C")
counter=0
for i in range(len(nombres_5d)):
  counter+=1
print(f"Hay {counter} nombres únicos en 5D")

Hay 54 nombres únicos en 5C
Hay 45 nombres únicos en 5D

4. Muestra cuantos apellidos únicos hay en cada curso.

In [13]:
print(f"Hay: {len(apellidos_5c)} apellidos unicos en 5C")
print(f"Hay: {len(apellidos_5d)} apellidos unicos en 5D")

Hay: 38 apellidos unicos en 5C
Hay: 33 apellidos unicos en 5D

5. Mostrá los nombres que se aparecen em ambos cursos

In [14]:
nombres_5c.intersection(nombres_5d)

{'Agustina',
 'Del',
 'Gabriel',
 'Ignacio',
 'Josue',
 'Lucas',
 'Marcelo',
 'Santino',
 'Victoria'}

6. Mostrá los apellidos que se aparecen en ambos cursos

In [15]:
apellidos_5c.intersection(apellidos_5d)

{'Flores', 'Guanca', 'Martinez'}

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [16]:
nombres_5c.difference(nombres_5d)

{'Abril',
 'Agostina',
 'Agustín',
 'Alondra',
 'Antonella',
 'Ariana',
 'Constanza',
 'Dulce',
 'Elizabeth',
 'Ezequiel',
 'Ismael',
 'Joaquin',
 'Karim',
 'Katya',
 'Lautaro',
 'Leonardo',
 'Lourdes',
 'Luana',
 'Lucia',
 'Luna',
 'Magali',
 'Maitena',
 'Mariel',
 'Martin',
 'Martina',
 'Matias',
 'Matías',
 'Mauricio',
 'Mia',
 'Micaela',
 'Milena',
 'Nahuel',
 'Nicolas',
 'Octavio',
 'Renato',
 'Rosario',
 'Salvador',
 'Sara',
 'Tiara',
 'Tomasso',
 'Valentino',
 'Valle',
 'Vitto',
 'Yamila',
 'Zoe'}

In [17]:
nombres_5d.difference(nombres_5c)

{'Agustin',
 'Alvaro',
 'Amaya',
 'Andres',
 'Angélica',
 'Anita',
 'Antonia',
 'Belen',
 'Camila',
 'Celia',
 'Emanuel',
 'Esmeralda',
 'Fabricio',
 'Francisco',
 'Hugo',
 'Irina',
 'Jazmin',
 'Juliana',
 'Lizzie',
 'Ludmila',
 'Mahia',
 'Maria',
 'Mariano',
 'Milagro',
 'Milagros',
 'Morena',
 'Nazarena',
 'Paulina',
 'Pedro',
 'Solange',
 'Stefania',
 'Stefano',
 'Tadeo',
 'Tobias',
 'Tomas',
 'Zacarias'}

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [18]:
apellidos_5c.difference(apellidos_5d)

{'Abud',
 'Amador',
 'Anaquin',
 'Araoz',
 'Argañaraz',
 'Barrera',
 'Barrozo',
 'Bettinelli',
 'Bracamonte',
 'Cardozo',
 'Colque',
 'Dagum',
 'Diaz',
 'Figueroa',
 'Gallo',
 'Galvan',
 'Garrido',
 'Giangreco',
 'Grancara',
 'Laspiur',
 'Lopez',
 'Mamani',
 'Marinaro',
 'Merluzzi',
 'Messina',
 'Rasuk',
 'Rios',
 'Rivero',
 'Sanchez',
 'Scarano',
 'Sierra',
 'Tapia',
 'Vedia',
 'Vilte',
 'Virgillito'}

In [19]:
apellidos_5d.difference(apellidos_5c)

{'Alurralde',
 'Alvarado',
 'Angel',
 'Arenas',
 'Barba',
 'Camara',
 'Caseres',
 'Castillo',
 'Cisneros',
 'Correa',
 'D',
 'Elia',
 'Geronimo',
 'Guzman',
 'Jaime',
 'Lacour',
 'Lascano',
 'Lezcano',
 'Polo',
 'Portella',
 'Retamal',
 'Rosales',
 'Salem',
 'Segovia',
 'Soriano',
 'Soto',
 'Valdivia',
 'Villalba',
 'Voltolini',
 'Zalazar'}

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [20]:
nombres_5c.symmetric_difference(nombres_5d)

{'Abril',
 'Agostina',
 'Agustin',
 'Agustín',
 'Alondra',
 'Alvaro',
 'Amaya',
 'Andres',
 'Angélica',
 'Anita',
 'Antonella',
 'Antonia',
 'Ariana',
 'Belen',
 'Camila',
 'Celia',
 'Constanza',
 'Dulce',
 'Elizabeth',
 'Emanuel',
 'Esmeralda',
 'Ezequiel',
 'Fabricio',
 'Francisco',
 'Hugo',
 'Irina',
 'Ismael',
 'Jazmin',
 'Joaquin',
 'Juliana',
 'Karim',
 'Katya',
 'Lautaro',
 'Leonardo',
 'Lizzie',
 'Lourdes',
 'Luana',
 'Lucia',
 'Ludmila',
 'Luna',
 'Magali',
 'Mahia',
 'Maitena',
 'Maria',
 'Mariano',
 'Mariel',
 'Martin',
 'Martina',
 'Matias',
 'Matías',
 'Mauricio',
 'Mia',
 'Micaela',
 'Milagro',
 'Milagros',
 'Milena',
 'Morena',
 'Nahuel',
 'Nazarena',
 'Nicolas',
 'Octavio',
 'Paulina',
 'Pedro',
 'Renato',
 'Rosario',
 'Salvador',
 'Sara',
 'Solange',
 'Stefania',
 'Stefano',
 'Tadeo',
 'Tiara',
 'Tobias',
 'Tomas',
 'Tomasso',
 'Valentino',
 'Valle',
 'Vitto',
 'Yamila',
 'Zacarias',
 'Zoe'}

10. elimina tu nombre del conjunto al que pertenece

In [22]:
nombre=input("Ingrese su nombre: ").title()
if nombre in nombres_5c:
  nombres_5c.remove(nombre)
  print("Se elimino su nombre de 5C")
elif nombre in nombres_5d:
  nombres_5d.remove(nombre)
  print("Se elimino su nombre de 5D")

Ingrese su nombre: Tadeo
Se elimino su nombre de 5D

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [ ]:
nombre=input("Ingrese su nombre: ").title()
apellido=input("Ingrese su apellido: ").title()
curso=input("Ingrese su curso: ").upper()
if curso == "5C":
  nombres_5c.add(nombre)
  apellidos_5c.add(apellido)
elif curso == "5D":
  nombres_5d.add(nombre)
  apellidos_5d.add(apellido)

12. Solicita un nombre y verifica si este existe en el diccionario

In [25]:
nombre=input("Ingrese un nombre: ").title()
existe=False
for estudiante in estudiantes_unicos:
  if nombre in estudiante["name"]:
    print("El nombre existe")
    existe=True
    break
if not existe:
  print("El nombre no existe")

Ingrese un nombre: lucia
El nombre existe